@charset "utf-8";
/* 代码整理：懒人之家 www.lanrenzhijia.com */
*{margin:0;padding:0;}
#wrap{
	width: 664px;
	overflow: hidden;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: 30px;
}
#wrap h1{
	margin: 10px 0;
	text-align: center;
	color: #4d3425;
	font-size: 16px;
	font-weight: bold;
}

/* 2 */
.item2{
	position: relative;
	float: left;
	margin-right: 0px;
	width: 166px;
	height: 208px;
	overflow: hidden;
	cursor: pointer;
}
.item2 .caption{
	position: absolute;
	left: 0;
	display: none;
	width: 150px;
	height: 192px;
	color: #fff;
	font-weight: bold;
	background: url(../images/demo02.png) no-repeat;
	padding: 8px;
}
.item2 h3{
	height: 25px;
	text-indent: 0;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0 -10px;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 5px;
	margin-left: 0;
}
.item2 p{
	margin: 0;
	line-height: 20px;
	text-indent: 0em;
	font-size: 14px;
	color: #FF9;
	font-weight: normal;
	padding-top: 0;
	padding-right: 4px;
	padding-bottom: 0;
	padding-left: 4px;
}
.item2 img{
	border: 0;
	position: absolute;
	height: 192px;
	width: 150px;
	margin: 0px;
	padding: 0px;
}
.item2-txt{
	position: absolute;
	left: 0;
	top: 120px;
	width: 100%;
	height: 40px;
	text-align: center;
	color: #FFF;
	overflow: hidden;
	background-image: none;
	background-repeat: no-repeat;
}
